---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import WhatsAppBrevetStickyButton from '../../components/WhatsAppBrevetStickyButton.astro';
import ContactForm from '../../components/ContactForm.astro';

// Structure des annales organisées par centre d'examen, date et jour
interface AnnalesItem {
  centre: string;
  date: string;
  jour: string;
  sujet: string;
  corrige: string;
  themes?: string[]; // Thèmes des exercices (Ex1 : Intégration, Ex2: Probabilités, etc.)
}


// Liste des annales 2024
const annales2024: AnnalesItem[] = [
  // Métropole
  {
    centre: 'Métropole',
    date: 'Juin 2024',
    jour: 'Jour 1',
    sujet: '/pdf/annales-bac/2024/Metropole_J1_spe_19_06_2024_VTFK.pdf',
    corrige: '/pdf/annales-bac/2024/Corrige-spe_J1_Metropole_19_06_2024_DV.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Métropole',
    date: 'Juin 2024',
    jour: 'Jour 1 (Secours)',
    sujet: '/pdf/annales-bac/2024/Spe_MetropoleJ1devoile_19_06_2024_DV.pdf',
    corrige: '/pdf/annales-bac/2024/CorrigeSpe_Metropole_J1_secours_19_06_2024_DV_3.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Métropole',
    date: 'Juin 2024',
    jour: 'Jour 2',
    sujet: '/pdf/annales-bac/2024/Me_tropole_J2_spe_20_06_2024_VTFK.pdf',
    corrige: '/pdf/annales-bac/2024/Corrige__Me_tropole_J2_spe_20_06_2024_FK.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Métropole',
    date: 'Juin 2024',
    jour: 'Jour 2 (Dévoilé)',
    sujet: '/pdf/annales-bac/2024/Spe_Metropole_devoile_J2_20_06_2024_DV_2.pdf',
    corrige: '/pdf/annales-bac/2024/Corrige_spe_Metro_devoile_20_06_2024_DV.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Métropole',
    date: 'Septembre 2024',
    jour: 'Jour 1',
    sujet: '/pdf/annales-bac/2024/Spe_J1_Metropole_11_09_2024_DV_2.pdf',
    corrige: '/pdf/annales-bac/2024/Corrrige_Spe_J1_Metropole_11_09_2024_FH.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Métropole',
    date: 'Septembre 2024',
    jour: 'Jour 2',
    sujet: '/pdf/annales-bac/2024/Spe_J2_12_09_2024_Metropole_DV.pdf',
    corrige: '/pdf/annales-bac/2024/Corrige_spe_J2_12_09_2024_Metro_DV_2.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  
  // Polynésie
  {
    centre: 'Polynésie',
    date: 'Juin 2024',
    jour: 'Jour 1',
    sujet: '/pdf/annales-bac/2024/Spe_Polynesie_J1_19_06_2024_DV__2.pdf',
    corrige: '/pdf/annales-bac/2024/Corrige_spe_PolynesieJ1_19_06_2024_DV_2.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Polynésie',
    date: 'Juin 2024',
    jour: 'Jour 2',
    sujet: '/pdf/annales-bac/2024/Spe_Polynesie_J2_20_06_2024_DV.pdf',
    corrige: '/pdf/annales-bac/2024/Corrige_bis_Polynesie_20_06_2024_DV.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Polynésie',
    date: 'Septembre 2024',
    jour: 'Jour 1',
    sujet: '/pdf/annales-bac/2024/Spe_Polynesie_9_09_2024_DV.pdf',
    corrige: '/pdf/annales-bac/2024/Corrige_Spe_Polynesie_9_09_2024_FH.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  
  // Asie
  {
    centre: 'Asie',
    date: 'Juin 2024',
    jour: 'Jour 1',
    sujet: '/pdf/annales-bac/2024/Spe_Asie_J1_10_06_2024_DV.pdf',
    corrige: '/pdf/annales-bac/2024/Corrige__Asie_spe_J1_24_mars_2024_VT_FK.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Asie',
    date: 'Juin 2024',
    jour: 'Jour 1 (Alternatif)',
    sujet: '/pdf/annales-bac/2024/Spe_Asie_11_06_2024_DV.pdf',
    corrige: '/pdf/annales-bac/2024/Corrige_Spe_Asie_11_06_2024_VT.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  
  // Amérique du Nord
  {
    centre: 'Amérique du Nord',
    date: 'Mai 2024',
    jour: 'Jour 1',
    sujet: '/pdf/annales-bac/2024/Spe_Amerique_Nord21_05_2024_DV.pdf',
    corrige: '/pdf/annales-bac/2024/Corrige_spe_Amerique_Nord_J1_2024_DV.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Amérique du Nord',
    date: 'Mai 2024',
    jour: 'Jour 2',
    sujet: '/pdf/annales-bac/2024/Spe__Ame_rique_Nord_J2_22_mai_2024.pdf',
    corrige: '/pdf/annales-bac/2024/Corrige_spe_Amerique_Nord_22_05_2024_DV.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  
  // Amérique du Sud
  {
    centre: 'Amérique du Sud',
    date: 'Novembre 2024',
    jour: 'Jour 1',
    sujet: '/pdf/annales-bac/2024/SpeJ1_21_11_2024_Ameri_Sud_DV_2.pdf',
    corrige: '/pdf/annales-bac/2024/Corrige_Am_du_Sud_21_11_2024_DVFHYM.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Amérique du Sud',
    date: 'Novembre 2024',
    jour: 'Jour 2',
    sujet: '/pdf/annales-bac/2024/SpeJ2_22_11_2024_Am_du_Sud_DV.pdf',
    corrige: '/pdf/annales-bac/2024/Corrige_SpeJ2_22_11_2024_Am_du_Sud_FHDV.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  
  // Centre étranger
  {
    centre: 'Centre étranger',
    date: 'Juin 2024',
    jour: 'Jour 1',
    sujet: '/pdf/annales-bac/2024/Etranger_J1_spe_5_06_2024_DV.pdf',
    corrige: '/pdf/annales-bac/2024/Corrige_Spe_cialite_centre_e_trangers_groupe_1_jour_1_5_juin_24_.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Centre étranger',
    date: 'Juin 2024',
    jour: 'Jour 1 (Bis)',
    sujet: '/pdf/annales-bac/2024/Spe_Suede_7_06_2024_DV.pdf',
    corrige: '/pdf/annales-bac/2024/Corrige__Spe_Centres_e_trangers_J1bis_07_06_2024.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Centre étranger',
    date: 'Juin 2024',
    jour: 'Jour 2',
    sujet: '/pdf/annales-bac/2024/Etranger_spe_J2_6_06_2024_DV.pdf',
    corrige: '/pdf/annales-bac/2024/Corrige_Etranger_spe_J2_6_06_2024_FK_VT.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  }
];

// Liste des annales 2025
const annales2025: AnnalesItem[] = [
  // Métropole
  {
    centre: 'Métropole',
    date: 'Septembre 2025',
    jour: 'Jour 1',
    sujet: '/pdf/annales-bac/2025/Metropole_J1_sept_2025_DV_2.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige__Metropole_J1_sept_2025_FK.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Métropole',
    date: 'Septembre 2025',
    jour: 'Jour 2',
    sujet: '/pdf/annales-bac/2025/Metropole_J2_sept_2025_DV.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige_Metropole_spe_J2_10_09_2025_AP3.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Métropole',
    date: 'Juin 2025',
    jour: 'Jour 1',
    sujet: '/pdf/annales-bac/2025/Metro_J1_17_06_2025_DV.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige__Me_tropole_spe_J1_17_06_2025_VTFK.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Métropole',
    date: 'Juin 2025',
    jour: 'Jour 2',
    sujet: '/pdf/annales-bac/2025/Metropole__spe_J2_18_06_2025_DV_2.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige_spe_Metropole_18_06_2025_DV.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  
  // Polynésie
  {
    centre: 'Polynésie',
    date: 'Septembre 2025',
    jour: 'Jour 1',
    sujet: '/pdf/annales-bac/2025/Polynesie_spe_J1_02_09_2025_FK_VT_DV_2.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige_Polynesie_spe_J1_02_09_2025_FH.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Polynésie',
    date: 'Juin 2025',
    jour: 'Jour 1',
    sujet: '/pdf/annales-bac/2025/Polynesie_spe_J1_17_06_2025_DV_2.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige__Polynesie_spe_J1_17_06_2025_VTFK_2.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Polynésie',
    date: 'Juin 2025',
    jour: 'Jour 2',
    sujet: '/pdf/annales-bac/2025/Polynesie_spe_J2_18_06_2025_DV.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige_Polynesie_spe_J2_18_06_2025_FK.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  
  // Asie
  {
    centre: 'Asie',
    date: 'Septembre 2025',
    jour: 'Jour 1',
    sujet: '/pdf/annales-bac/2025/Asie_spe_J1_05_09_2025_FK.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige_Asie_spe_J1_05_09_2025_FH.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Asie',
    date: 'Juin 2025',
    jour: 'Jour 1',
    sujet: '/pdf/annales-bac/2025/Asie_spe_J1_11_06_2025_DV.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige__Asie_J1_11_06_2025_VTFK.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Asie',
    date: 'Juin 2025',
    jour: 'Jour 2',
    sujet: '/pdf/annales-bac/2025/Asie_speJ2_12_06_2025_VTFK.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige_bis_Asie_spe_J2_12_06_2025_BS.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  
  // Amérique du Nord
  {
    centre: 'Amérique du Nord',
    date: 'Mai 2025',
    jour: 'Jour 1',
    sujet: '/pdf/annales-bac/2025/Ame_rique_du_Nord_J1_spe_21_05_2025_FK.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige_Ame_rique_du_Nord_J1_spe_21_05_2025_FK_VT_2.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Amérique du Nord',
    date: 'Mai 2025',
    jour: 'Jour 2',
    sujet: '/pdf/annales-bac/2025/Amerique_du_Nord_J2_spe_22_05_2025_DV_FK.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige_Am_du_Nord_J2_2025_DV_2.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Amérique du Nord',
    date: 'Mai 2025',
    jour: 'Jour 2 (Secours)',
    sujet: '/pdf/annales-bac/2025/Amerique_du_Nord_J2_secours_spe_22_05_2025_FK.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige__Ame_rique_du_Nord_J2_secours_spe_22_05_2025_FK.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  
  // Amérique du Sud
  {
    centre: 'Amérique du Sud',
    date: 'Novembre 2025',
    jour: 'Jour 1',
    sujet: '/pdf/annales-bac/2025/Ameri_du_Sud_J1__13_11_2025_DV.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige_Ameri_du_Sud_J1__13_11_2025_FH.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Amérique du Sud',
    date: 'Novembre 2025',
    jour: 'Jour 2',
    sujet: '/pdf/annales-bac/2025/Ame_du_Sud_J2_14_11_2025_DV.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige_Am_du_Sud_J2_nov_2025_DV.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  
  // Nouvelle-Calédonie
  {
    centre: 'Nouvelle-Calédonie',
    date: 'Novembre 2025',
    jour: 'Jour 1',
    sujet: '/pdf/annales-bac/2025/Caledonie_J1_20_11_2025_DV_2.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige_EDS_NC_sujet1-20-11_SD_2.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Nouvelle-Calédonie',
    date: 'Novembre 2025',
    jour: 'Jour 2',
    sujet: '/pdf/annales-bac/2025/Caledonie_J2_21_11_2025_DV.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige_EDS_NC_sujet2-21-11_2025_SD_2.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  
  // Centre étranger
  {
    centre: 'Centre étranger',
    date: 'Juin 2025',
    jour: 'Jour 1',
    sujet: '/pdf/annales-bac/2025/Etranger_spe_J1_12_06_2025_DV.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige__centre_etranger_J1_12_06_2025_VT.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  },
  {
    centre: 'Centre étranger',
    date: 'Juin 2025',
    jour: 'Jour 2',
    sujet: '/pdf/annales-bac/2025/Etranger_spe_J2_13_06_2025_DV.pdf',
    corrige: '/pdf/annales-bac/2025/Corrige_Etranger_spe_J2_13_06_2025__RRoux.pdf',
    themes: [] // À remplir manuellement après consultation du PDF
  }
];

// Flatten all annales for grid display
const allAnnales = [
  ...annales2025.map(item => ({ ...item, annee: '2025' })),
  ...annales2024.map(item => ({ ...item, annee: '2024' }))
];

// Extract all unique themes for filtering
const allThemes = Array.from(
  new Set(
    allAnnales
      .flatMap(item => item.themes || [])
      .map(theme => theme.split(':')[1]?.trim())
      .filter(Boolean)
  )
).sort();

const whatsappNumber = "33616635187";
const whatsappMessageBacAnnales =  "Bonjour, je cherche un accompagnement pour préparer le bac de maths. J'ai vu votre page sur les annales.";
const whatsappBacAnnalesUrl = `https://wa.me/${whatsappNumber}?text=${encodeURIComponent(whatsappMessageBacAnnales)}`;
const contactHref = "/#contact";
const coursParticuliersHref = "/professeur-particulier-maths";

/** Approx. first bac maths slot (Métropole) — update when rebuilding for a new session year. */
const bacMathsApprox = new Date(Date.UTC(2026, 5, 16));
const daysUntilBac = Math.ceil(
  (bacMathsApprox.getTime() - Date.now()) / (1000 * 60 * 60 * 24)
);

function formatBacCountdown(days: number): string {
  if (days <= 14) {
    const d = Math.max(1, days);
    return `dans environ ${d} jour${d > 1 ? "s" : ""}`;
  }
  if (days <= 50) return `dans environ ${Math.round(days / 7)} semaines`;
  const months = Math.round(days / 30);
  if (months <= 1) return "dans environ 1 mois";
  return `dans environ ${months} mois`;
}

const showBacUrgencyBanner = daysUntilBac > 0 && daysUntilBac <= 100;
const bacUrgencyCountdownLabel = showBacUrgencyBanner ? formatBacCountdown(daysUntilBac) : null;
---

<Layout 
  title="Annales Bac Maths - Sujets et Corrigés | revise-tes-maths.fr"
  description="Annales bac maths avec sujets et corrigés détaillés. Préparation efficace au baccalauréat de mathématiques avec annales corrigées 2024 et 2025."
>
  <Header />
  
  <!-- Breadcrumbs -->
  <section class="bg-white border-b border-gray-100">
    <div class="container mx-auto px-4 py-3">
      <div class="max-w-4xl mx-auto">
        <Breadcrumbs items={[
          { label: 'Terminale', href: '/terminale' },
          { label: 'Annales du bac' }
        ]} />
      </div>
    </div>
  </section>
  
  <!-- Hero Section -->
  <section class="relative bg-gradient-to-b from-blue-50 via-blue-50/50 to-white py-12 md:py-16 overflow-hidden">
    <!-- Background decorative elements -->
    <div class="absolute inset-0 overflow-hidden pointer-events-none">
      <div class="absolute top-20 right-10 w-72 h-72 bg-cyan-200/30 rounded-full blur-3xl"></div>
      <div class="absolute bottom-10 right-20 w-96 h-96 bg-purple-200/20 rounded-full blur-3xl"></div>
      <div class="absolute top-1/2 left-10 w-64 h-64 bg-yellow-200/20 rounded-full blur-3xl"></div>
    </div>
    
    <div class="container mx-auto px-4 relative z-10">      
      <div class="max-w-4xl mx-auto text-center">
        <h1 class="text-3xl md:text-4xl font-bold text-gray-900 mb-4">
          Annales Bac Maths - Sujets et Corrigés
        </h1>

        {bacUrgencyCountdownLabel && (
          <div class="mb-6 text-left rounded-2xl border-2 border-amber-400 bg-amber-50 p-4 md:p-5 shadow-md max-w-3xl mx-auto">
            <p class="text-xs font-bold uppercase tracking-wide text-amber-900 mb-2">
              Bac maths — il reste du temps, mais plus beaucoup
            </p>
            <p class="text-gray-900 font-semibold text-base md:text-lg leading-snug mb-2">
              Le bac approche <span class="text-amber-900">({bacUrgencyCountdownLabel})</span> : ce n’est <strong>pas trop tard</strong> pour prendre un cours — notamment <strong>pendant les vacances</strong>, pour sécuriser la méthode et <strong>gratter des points</strong> sur une annale réelle.
            </p>
          </div>
        )}

        <p class="text-lg text-gray-700 mb-6">
          Accédez aux <strong>annales corrigées 2024-2025</strong> et progressez avec une <strong>vraie méthode</strong> : exercices, rédaction, et gestion du temps (4h d’épreuve). Si le calendrier te stresse, une séance ciblée sur <strong>une annale de cette page</strong> peut déjà débloquer des points.
        </p>
        <div class="flex flex-col sm:inline-flex sm:flex-row items-center justify-center gap-3">
          <a 
            href="#annales" 
            class="inline-flex items-center gap-2 px-6 py-3 bg-gray-900 text-white rounded-lg font-semibold hover:bg-gray-800 transition-colors shadow-lg hover:shadow-xl"
          >
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
            </svg>
            Accéder directement aux annales
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </a>

          <a 
            href="#formulaire-contact"
            class="inline-flex items-center gap-2 px-6 py-3 bg-amber-400 text-slate-950 rounded-lg font-semibold hover:bg-amber-300 transition-colors shadow-lg hover:shadow-xl"
          >
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
            </svg>
            Besoin d’aide avant le bac ? Clique ici pour qu’on débloque la situation ensemble !
          </a>

        </div>

        <p class="mt-5 text-sm text-gray-600">
          Parents et élèves : une séance sur une annale de cette page peut suffire pour corriger la méthode avant le bac — créneaux vacances possibles selon disponibilité.
        </p>
      </div>
    </div>
  </section>

  <!-- Réassurance -->
  <section class="bg-white py-10 md:py-14">
    <div class="container mx-auto px-4">
      <div class="max-w-5xl mx-auto">
        <h2 class="text-2xl md:text-3xl font-bold text-gray-900 mb-6">
          Un accompagnement sérieux, orienté résultats
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="bg-gray-50 border border-gray-100 rounded-2xl p-6">
            <h3 class="font-semibold text-gray-900 mb-2">Ingénieur de formation, professeur de maths</h3>
            <p class="text-gray-700 text-sm leading-relaxed">
              Une approche rigoureuse : on structure la démarche, on travaille les erreurs, et on rend la méthode réutilisable.
            </p>
          </div>

          <div class="bg-gray-50 border border-gray-100 rounded-2xl p-6">
            <h3 class="font-semibold text-gray-900 mb-2">Séances ciblées sur vos annales</h3>
            <p class="text-gray-700 text-sm leading-relaxed">
              On choisit un sujet de cette page, puis on corrige la rédaction et la méthode pour progresser rapidement.
            </p>
          </div>

          <div class="bg-gray-50 border border-gray-100 rounded-2xl p-6">
            <h3 class="font-semibold text-gray-900 mb-2">Visio ou à Paris (selon disponibilité)</h3>
            <p class="text-gray-700 text-sm leading-relaxed">
              Pour que l’organisation soit simple : en visio, ou en présentiel selon votre localisation.
            </p>
          </div>

          <div class="bg-gray-50 border border-gray-100 rounded-2xl p-6">
            <h3 class="font-semibold text-gray-900 mb-2">Un plan clair après la séance</h3>
            <p class="text-gray-700 text-sm leading-relaxed">
              Vous savez exactement quoi refaire, quoi revoir, et comment enchaîner avec les prochains sujets.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Pour qui ? -->
  <section class="bg-gray-50 py-10 md:py-14 border-y border-gray-100">
    <div class="container mx-auto px-4">
      <div class="max-w-5xl mx-auto">
        <h2 class="text-2xl md:text-3xl font-bold text-gray-900 mb-6">
          Pour qui ?
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="bg-white rounded-2xl border border-gray-100 p-6">
            <h3 class="font-semibold text-gray-900 mb-2">Élève de terminale</h3>
            <p class="text-gray-700 text-sm leading-relaxed">
              Pour sécuriser le bac : méthode, rédaction, et repères sur les exercices les plus fréquents (spé maths).
            </p>
          </div>

          <div class="bg-white rounded-2xl border border-gray-100 p-6">
            <h3 class="font-semibold text-gray-900 mb-2">Élève qui vise une mention</h3>
            <p class="text-gray-700 text-sm leading-relaxed">
              Pour gagner des points : travailler les “détails” qui font la différence (présentation, étapes, timing sur 4h).
            </p>
          </div>

          <div class="bg-white rounded-2xl border border-gray-100 p-6">
            <h3 class="font-semibold text-gray-900 mb-2">Parent</h3>
            <p class="text-gray-700 text-sm leading-relaxed">
              Pour un cadre de révision clair : un rythme simple, des objectifs concrets, et un suivi après chaque séance.
            </p>
          </div>

          <div class="bg-white rounded-2xl border border-gray-100 p-6">
            <h3 class="font-semibold text-gray-900 mb-2">Individuel ou petit groupe</h3>
            <p class="text-gray-700 text-sm leading-relaxed">
              Séances possibles en individuel ou en petit groupe (2 à 4 élèves), à partir d’une annale ciblée.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Introduction Section -->
  <section class="bg-white py-12 md:py-16">
    <div class="container mx-auto px-4">
      <div class="max-w-4xl mx-auto">
        <div class="prose prose-lg max-w-none mb-8">
          <p class="text-lg text-gray-700 leading-relaxed mb-6">
            Les <strong>annales bac maths</strong> sont un outil indispensable pour réussir votre épreuve de mathématiques au baccalauréat. Sur cette page, vous trouverez tous les <strong>sujets bac maths</strong> et <strong>corrigés bac maths</strong> des sessions 2024 et 2025, organisés par centre d'examen. Ces <strong>annales bac maths corrigées</strong> vous permettront de vous entraîner efficacement et de comprendre les attentes des correcteurs.
          </p>
          
          <h2 class="text-2xl md:text-3xl font-bold text-gray-900 mb-6">
            Pourquoi utiliser les annales bac maths pour votre préparation ?
          </h2>
          
          <p class="text-base md:text-lg text-gray-700 leading-relaxed mb-6">
            Les <strong>annales du bac maths</strong> constituent la meilleure méthode de révision pour l'épreuve de mathématiques. En travaillant régulièrement sur les <strong>sujets bac maths</strong> des années précédentes, vous développez plusieurs compétences essentielles :
          </p>
          
          <ul class="space-y-4 mb-8 text-gray-700">
            <li class="flex items-start">
              <svg class="w-5 h-5 text-blue-600 mr-3 mt-0.5 flex-shrink-0" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <span><strong>Familiarisation avec le format de l'épreuve</strong> : Les annales bac maths vous permettent de vous habituer à la structure des sujets, au type de questions posées et à la gestion du temps pendant l'examen.</span>
            </li>
            <li class="flex items-start">
              <svg class="w-5 h-5 text-blue-600 mr-3 mt-0.5 flex-shrink-0" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <span><strong>Identification des thèmes récurrents</strong> : En analysant plusieurs annales bac maths, vous repérez les notions qui reviennent systématiquement et sur lesquelles vous devez être particulièrement solide.</span>
            </li>
            <li class="flex items-start">
              <svg class="w-5 h-5 text-blue-600 mr-3 mt-0.5 flex-shrink-0" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <span><strong>Compréhension des attentes des correcteurs</strong> : Les corrigés bac maths détaillés vous montrent exactement ce qui est attendu dans une bonne copie, les méthodes de résolution privilégiées et les pièges à éviter.</span>
            </li>
            <li class="flex items-start">
              <svg class="w-5 h-5 text-blue-600 mr-3 mt-0.5 flex-shrink-0" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <span><strong>Entraînement à la gestion du stress</strong> : Travailler dans les conditions réelles de l'examen avec les annales bac maths vous aide à mieux gérer votre stress le jour J.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Comment utiliser les annales -->
  <section class="bg-gray-50 py-12 md:py-16">
    <div class="container mx-auto px-4">
      <div class="max-w-4xl mx-auto">
        <h2 class="text-2xl md:text-3xl font-bold text-gray-900 mb-6">
          Comment utiliser efficacement les annales bac maths ?
        </h2>
        
        <p class="text-base md:text-lg text-gray-700 leading-relaxed mb-6">
          Pour tirer le maximum de profit des <strong>annales bac maths</strong>, suivez cette méthodologie éprouvée :
        </p>
        
        <div class="space-y-6 mb-8">
          <div class="bg-white rounded-lg p-6 shadow-sm">
            <h3 class="text-xl font-semibold text-gray-900 mb-3">1. Travaillez d'abord sans le corrigé</h3>
            <p class="text-gray-700 leading-relaxed">
              Commencez par traiter le <strong>sujet bac maths</strong> dans les conditions réelles de l'examen : temps limité, sans aide extérieure. Cette étape est cruciale pour identifier vos points faibles et mesurer votre niveau réel.
            </p>
          </div>
          
          <div class="bg-white rounded-lg p-6 shadow-sm">
            <h3 class="text-xl font-semibold text-gray-900 mb-3">2. Analysez le corrigé en détail</h3>
            <p class="text-gray-700 leading-relaxed">
              Après avoir terminé le sujet, consultez le <strong>corrigé bac maths</strong> attentivement. Comparez votre méthode avec celle proposée, identifiez vos erreurs et comprenez pourquoi la solution du corrigé est optimale. Notez les points que vous avez manqués ou mal traités.
            </p>
          </div>
          
          <div class="bg-white rounded-lg p-6 shadow-sm">
            <h3 class="text-xl font-semibold text-gray-900 mb-3">3. Refaites les exercices difficiles</h3>
            <p class="text-gray-700 leading-relaxed">
              Pour les questions où vous avez rencontré des difficultés, refaites-les en vous appuyant sur le corrigé. L'objectif est de maîtriser parfaitement la méthode de résolution pour être capable de la reproduire le jour de l'examen.
            </p>
          </div>
          
          <div class="bg-white rounded-lg p-6 shadow-sm">
            <h3 class="text-xl font-semibold text-gray-900 mb-3">4. Variez les centres d'examen</h3>
            <p class="text-gray-700 leading-relaxed">
              Ne vous limitez pas aux annales bac maths de votre académie. Traitez des sujets de différents centres (Métropole, Polynésie, Asie, Amérique du Nord, etc.) pour vous exposer à une grande variété de problèmes et de formulations.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Micro-CTA (après la méthode) -->
  <section class="bg-emerald-50 border-y border-emerald-100 py-8 md:py-10">
    <div class="container mx-auto px-4">
      <div class="max-w-4xl mx-auto rounded-2xl bg-white border border-emerald-100 p-6 md:p-8">
        <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-6">
          <div>
            <h2 class="text-xl md:text-2xl font-bold text-gray-900 mb-2">
              Tu bloques sur un exercice ?
            </h2>
            <p class="text-gray-700 leading-relaxed">
              Écris-moi et je te dis comment l’aborder, à partir du <strong>sujet</strong> ou du <strong>corrigé</strong> de ton annale.
              {bacUrgencyCountdownLabel && (
                <span class="block mt-2 text-emerald-900 font-medium">
                  Le bac arrive vite ({bacUrgencyCountdownLabel}) : les vacances sont un bon créneau pour une ou deux séances ciblées et gratter des points sans attendre la dernière ligne droite.
                </span>
              )}
              Une séance ciblée peut suffire pour débloquer les exercices les plus classiques du bac.
            </p>
          </div>

          <div class="flex flex-col sm:flex-row gap-3">
            <a
              href={whatsappBacAnnalesUrl}
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex items-center justify-center gap-2 px-6 py-3 bg-[#25D366] text-white rounded-lg font-semibold hover:bg-[#20BA5A] transition-colors shadow-sm"
            >
              Écrire sur WhatsApp
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
              </svg>
            </a>

            <a
              href={contactHref}
              class="inline-flex items-center justify-center gap-2 px-6 py-3 bg-gray-900 text-white rounded-lg font-semibold hover:bg-gray-800 transition-colors shadow-sm"
            >
              Réserver une séance annales
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Conseils pour réussir -->
  <section class="bg-white py-12 md:py-16">
    <div class="container mx-auto px-4">
      <div class="max-w-4xl mx-auto">
        <h2 class="text-2xl md:text-3xl font-bold text-gray-900 mb-6">
          Conseils pour réussir l'épreuve de maths au bac avec les annales
        </h2>
        
        <div class="bg-blue-50 border-l-4 border-blue-500 p-6 rounded-lg mb-8">
          <p class="text-gray-800 text-base md:text-lg leading-relaxed mb-4">
            <strong>Astuce importante :</strong> Commencez votre préparation aux <strong>annales bac maths</strong> au moins 3 mois avant l'examen. Traitez un sujet complet chaque semaine, en alternant les différents centres d'examen. Cette régularité est la clé de la réussite.
          </p>
        </div>
        
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
          <div class="bg-gray-50 rounded-lg p-6">
            <h3 class="text-lg font-semibold text-gray-900 mb-3">Gestion du temps</h3>
            <p class="text-gray-700 leading-relaxed">
              L'épreuve de mathématiques au bac dure 4 heures. Entraînez-vous à respecter ce timing avec les <strong>annales bac maths</strong>. Allouez environ 1h30 pour chaque exercice et gardez 30 minutes pour la relecture.
            </p>
          </div>
          
          <div class="bg-gray-50 rounded-lg p-6">
            <h3 class="text-lg font-semibold text-gray-900 mb-3">Présentation de la copie</h3>
            <p class="text-gray-700 leading-relaxed">
              Les <strong>corrigés bac maths</strong> vous montrent l'importance d'une présentation claire : numérotation des questions, justification des étapes, soin dans les calculs. Une copie bien présentée fait toujours meilleure impression.
            </p>
          </div>
          
          <div class="bg-gray-50 rounded-lg p-6">
            <h3 class="text-lg font-semibold text-gray-900 mb-3">Méthodologie de résolution</h3>
            <p class="text-gray-700 leading-relaxed">
              Analysez les <strong>corrigés bac maths</strong> pour comprendre la démarche attendue : lecture attentive de l'énoncé, identification des outils mathématiques à utiliser, rédaction rigoureuse de la solution.
            </p>
          </div>
          
          <div class="bg-gray-50 rounded-lg p-6">
            <h3 class="text-lg font-semibold text-gray-900 mb-3">Révision des fondamentaux</h3>
            <p class="text-gray-700 leading-relaxed">
              Les <strong>annales bac maths</strong> révèlent les notions qui reviennent systématiquement. Assurez-vous de maîtriser parfaitement ces fondamentaux : fonctions, dérivées, intégrales, probabilités, géométrie.
            </p>
          </div>
        </div>
        
        <div class="bg-gradient-to-r from-blue-600 to-indigo-600 rounded-lg p-6 md:p-8 text-white">
          <h3 class="text-xl font-bold mb-3">On travaille ensemble une annale complète</h3>
          {bacUrgencyCountdownLabel && (
            <p class="text-sm md:text-base font-semibold bg-white/15 rounded-lg px-3 py-2 mb-3 border border-white/30">
              Rappel : le bac approche ({bacUrgencyCountdownLabel}). Ce n’est pas trop tard pour un ou deux créneaux pendant les vacances — objectif points concrets sur ta copie, pas seulement “faire des annales”.
            </p>
          )}
          <p class="text-base md:text-lg leading-relaxed mb-4">
            Parents et élèves : on choisit un sujet de cette page, on travaille la méthode et la rédaction, puis on corrige précisément les points qui bloquent.
            Objectif&nbsp;: progresser vite et être plus à l’aise le jour J (épreuve 4h).
          </p>

          <div class="flex flex-col sm:flex-row gap-3">
            <a
              href={contactHref}
              class="inline-flex items-center justify-center gap-2 px-6 py-3 bg-white text-blue-700 rounded-lg font-semibold hover:bg-gray-100 transition-colors"
            >
              Réserver une séance annales bac
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
              </svg>
            </a>

            <a
              href={whatsappBacAnnalesUrl}
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex items-center justify-center gap-2 px-6 py-3 bg-transparent border border-white/70 text-white rounded-lg font-semibold hover:bg-white/10 transition-colors"
            >
              WhatsApp : “je bloque sur…”
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
              </svg>
            </a>
          </div>

          <p class="text-xs text-white/90 mt-4">
            Petit groupe possible (2 à 4). Si vous cherchez plus d’infos sur le suivi : <a href={coursParticuliersHref} class="underline font-semibold hover:text-white">voir les cours particuliers</a>.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Filters Section -->
  <section class="bg-white border-b border-gray-100 sticky top-0 z-10 backdrop-blur-sm bg-white/95">
    <div class="container mx-auto px-4 py-6">
      <div class="max-w-7xl mx-auto">
        <!-- Search Bar -->
        <div class="mb-6">
          <div class="relative max-w-md">
            <input
              type="text"
              id="search-input"
              placeholder="Rechercher une annale..."
              class="w-full px-4 py-2.5 pl-10 pr-4 text-sm border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"
            />
            <svg class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
          </div>
        </div>
        
        <div class="flex flex-col md:flex-row gap-6 items-start md:items-center justify-between">
          <!-- Year Filter -->
          <div class="flex flex-wrap gap-3 items-center">
            <span class="text-sm font-semibold text-gray-700">Année :</span>
            <div class="flex gap-2">
              <button 
                data-filter-year="all"
                class="filter-year-btn px-5 py-2.5 rounded-lg text-sm font-medium transition-all duration-200 bg-gray-900 text-white shadow-sm hover:bg-gray-800"
              >
                Toutes
              </button>
              <button 
                data-filter-year="2025"
                class="filter-year-btn px-5 py-2.5 rounded-lg text-sm font-medium transition-all duration-200 bg-white text-gray-700 border border-gray-200 hover:bg-gray-50 hover:border-gray-300"
              >
                2025
              </button>
              <button 
                data-filter-year="2024"
                class="filter-year-btn px-5 py-2.5 rounded-lg text-sm font-medium transition-all duration-200 bg-white text-gray-700 border border-gray-200 hover:bg-gray-50 hover:border-gray-300"
              >
                2024
              </button>
            </div>
          </div>
          
          <!-- Theme Filter -->
          <div class="flex flex-wrap gap-3 items-center">
            <span class="text-sm font-semibold text-gray-700">Thème :</span>
            <div class="flex gap-2 flex-wrap">
              <button 
                data-filter-theme="all"
                class="filter-theme-btn px-5 py-2.5 rounded-lg text-sm font-medium transition-all duration-200 bg-gray-900 text-white shadow-sm hover:bg-gray-800"
              >
                Tous
              </button>
              {allThemes.map(theme => (
                <button 
                  data-filter-theme={theme}
                  class="filter-theme-btn px-5 py-2.5 rounded-lg text-sm font-medium transition-all duration-200 bg-white text-gray-700 border border-gray-200 hover:bg-gray-50 hover:border-gray-300"
                >
                  {theme}
                </button>
              ))}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Content Section -->
  <section id="annales" class="bg-gray-50 py-12 md:py-16 scroll-mt-20">
    <div class="container mx-auto px-4">
      <div class="max-w-7xl mx-auto">
        <!-- Results count -->
        <div class="mb-8">
          <p class="text-gray-600">
            <span id="results-count" class="font-semibold text-gray-900">{allAnnales.length}</span> annale{allAnnales.length > 1 ? 's' : ''} disponible{allAnnales.length > 1 ? 's' : ''}
          </p>
        </div>
        
        <!-- Content Grid -->
        <div id="content-grid" class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 md:gap-6">
          {allAnnales.map((item) => {
            const themesList = item.themes || [];
            return (
              <div
                data-year={item.annee}
                data-themes={themesList.map(t => t.split(':')[1]?.trim()).filter(Boolean).join(' ')}
                data-centre={item.centre.toLowerCase()}
                data-jour={item.jour.toLowerCase()}
                class="annale-card group bg-white border border-gray-200 rounded-lg md:rounded-xl transition-all duration-300 hover:shadow-xl hover:shadow-gray-200/50 hover:-translate-y-1"
              >
                <div class="p-2.5 md:p-5">
                  <div class="mb-2 md:mb-4">
                    <div class="flex items-center justify-between mb-1 md:mb-2">
                      <span class="inline-flex items-center px-1.5 md:px-2.5 py-0.5 md:py-1 rounded text-[10px] md:text-xs font-semibold bg-blue-100 text-blue-800">
                        {item.annee}
                      </span>
                      <span class="text-[10px] md:text-xs text-gray-500 font-medium">
                        {item.jour}
                      </span>
                    </div>
                    <h3 class="text-xs md:text-base font-semibold text-gray-900 mb-0.5 md:mb-1 group-hover:text-blue-600 transition-colors leading-tight line-clamp-2">
                      {item.centre}
                    </h3>
                    <p class="text-[10px] md:text-sm text-gray-600">{item.date}</p>
                  </div>
                  
                  {themesList.length > 0 && (
                    <div class="mb-2 md:mb-4">
                      <p class="text-[10px] md:text-xs font-semibold text-gray-700 mb-1 md:mb-2">Thèmes :</p>
                      <div class="flex flex-wrap gap-1 md:gap-1.5">
                        {themesList.map((theme) => {
                          const parts = theme.split(':').map(s => s.trim());
                          const exNum = parts[0];
                          const themeName = parts[1];
                          if (!exNum || !themeName) return null;
                          return (
                            <span
                              class="inline-flex items-center px-1 md:px-2 py-0.5 rounded text-[9px] md:text-xs font-medium bg-purple-50 text-purple-700 border border-purple-200"
                              data-theme={themeName}
                            >
                              {exNum}: {themeName}
                            </span>
                          );
                        })}
                      </div>
                    </div>
                  )}
                  
                  {themesList.length === 0 && (
                    <div class="mb-2 md:mb-4">
                      <p class="text-[9px] md:text-xs text-gray-400 italic">Thèmes à renseigner</p>
                    </div>
                  )}
                  
                  <div class="flex gap-1.5 md:gap-2 mt-2 md:mt-4">
                    <a 
                      href={item.sujet} 
                      target="_blank"
                      rel="noopener noreferrer"
                      class="flex-1 inline-flex items-center justify-center gap-0.5 md:gap-1.5 px-1.5 md:px-3 py-1.5 md:py-2 bg-gray-900 text-white rounded md:rounded-lg hover:bg-gray-800 transition-colors text-[10px] md:text-xs font-medium shadow-sm hover:shadow-md"
                    >
                      <svg class="w-3 h-3 md:w-3.5 md:h-3.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                      </svg>
                      <span class="hidden sm:inline">Sujet</span>
                    </a>
                    <a 
                      href={item.corrige} 
                      target="_blank"
                      rel="noopener noreferrer"
                      class="flex-1 inline-flex items-center justify-center gap-0.5 md:gap-1.5 px-1.5 md:px-3 py-1.5 md:py-2 border-2 border-gray-900 text-gray-900 rounded md:rounded-lg hover:bg-gray-900 hover:text-white transition-colors text-[10px] md:text-xs font-medium shadow-sm hover:shadow-md"
                    >
                      <svg class="w-3 h-3 md:w-3.5 md:h-3.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                      </svg>
                      <span class="hidden sm:inline">Corrigé</span>
                    </a>
                  </div>
                </div>
              </div>
            );
          })}
        </div>
        
        <!-- Empty State -->
        <div id="empty-state" class="hidden text-center py-16">
          <div class="text-6xl mb-4">🔍</div>
          <h3 class="text-xl font-semibold text-gray-900 mb-2">Aucune annale trouvée</h3>
          <p class="text-gray-600">Essayez de modifier vos filtres</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Micro-CTA fin de page -->
  <section class="bg-white py-12 md:py-16 border-t border-gray-100">
    <div class="container mx-auto px-4">
      <div class="max-w-5xl mx-auto">
        <div class="bg-gray-50 rounded-2xl border border-gray-100 p-6 md:p-8">
          <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-6">
            <div class="max-w-2xl">
              <h2 class="text-2xl md:text-3xl font-bold text-gray-900 mb-2">
                Avant de refaire seul : demandez une aide ciblée
              </h2>
              <p class="text-gray-700 leading-relaxed">
                Vous choisissez une annale, vous m’expliquez le point qui bloque, et on transforme l’entraînement en méthode.
                Une séance ciblée peut suffire pour progresser rapidement.
              </p>
            </div>

            <div class="flex flex-col sm:flex-row gap-3">
              <a
                href={contactHref}
                class="inline-flex items-center justify-center gap-2 px-6 py-3 bg-gray-900 text-white rounded-lg font-semibold hover:bg-gray-800 transition-colors shadow-sm"
              >
                Réserver une séance annales bac
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                </svg>
              </a>

              <a
                href={whatsappBacAnnalesUrl}
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex items-center justify-center gap-2 px-6 py-3 bg-[#25D366] text-white rounded-lg font-semibold hover:bg-[#20BA5A] transition-colors shadow-sm"
              >
                Aide sur WhatsApp
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                </svg>
              </a>
            </div>
          </div>

          <p class="text-xs text-gray-500 mt-5">
            Vous pouvez aussi découvrir le cadre complet de suivi sur la page <a href={coursParticuliersHref} class="underline hover:text-gray-700 font-semibold">cours particuliers</a>.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- FAQ -->
  <section class="bg-gray-50 py-12 md:py-16 border-y border-gray-100">
    <div class="container mx-auto px-4">
      <div class="max-w-5xl mx-auto">
        <h2 class="text-2xl md:text-3xl font-bold text-gray-900 mb-6">
          FAQ - Annales du bac et accompagnement
        </h2>

        <div class="space-y-3">
          <details class="bg-white border border-gray-100 rounded-2xl p-5">
            <summary class="cursor-pointer font-semibold text-gray-900">
              Comment utiliser les annales pour réviser le bac ?
            </summary>
            <p class="text-gray-700 mt-3 leading-relaxed">
              D’abord sans corrigé pour mesurer ton niveau, puis analyse du corrigé pour comprendre la méthode attendue. Ensuite, refais les exercices difficiles en reprenant les étapes et la rédaction. Pense à travailler en temps limité (4h par sujet).
            </p>
          </details>

          <details class="bg-white border border-gray-100 rounded-2xl p-5">
            <summary class="cursor-pointer font-semibold text-gray-900">
              À partir de quand commencer les annales ?
            </summary>
            <p class="text-gray-700 mt-3 leading-relaxed">
              Idéalement au moins 3 mois avant l’examen, avec un sujet complet par semaine. Les annales te donnent un rythme et une progression adaptés à l’épreuve de spé maths.
            </p>
          </details>

          <details class="bg-white border border-gray-100 rounded-2xl p-5">
            <summary class="cursor-pointer font-semibold text-gray-900">
              Peut-on réserver une séance uniquement sur un sujet d’annale ?
            </summary>
            <p class="text-gray-700 mt-3 leading-relaxed">
              Oui. Vous choisissez l’annale (jour 1 ou jour 2), et on travaille dessus : méthode, rédaction, et correction des points qui te font perdre des points.
            </p>
          </details>

          <details class="bg-white border border-gray-100 rounded-2xl p-5">
            <summary class="cursor-pointer font-semibold text-gray-900">
              Proposez-vous des cours en ligne ?
            </summary>
            <p class="text-gray-700 mt-3 leading-relaxed">
              Oui, en visio. C’est pratique pour organiser des séances régulières, tout en gardant le même niveau d’exigence.
            </p>
          </details>

          <details class="bg-white border border-gray-100 rounded-2xl p-5">
            <summary class="cursor-pointer font-semibold text-gray-900">
              Les cours sont-ils possibles en petit groupe ?
            </summary>
            <p class="text-gray-700 mt-3 leading-relaxed">
              Oui, en petit groupe (2 à 4 élèves). C’est idéal pour progresser ensemble, tout en gardant un cadre clair et une correction attentive.
            </p>
          </details>
        </div>
      </div>
    </div>
  </section>

  <!-- In-page anchor: hero CTA "Besoin d'aide avant le bac" -->
  <section id="formulaire-contact" class="scroll-mt-24 bg-gray-50 py-12 md:py-16 border-t border-gray-200">
    <div class="container mx-auto px-4">
      <div class="max-w-xl mx-auto">
        <h2 class="text-2xl md:text-3xl font-bold text-gray-900 mb-2 text-center">
          Contact — préparation bac / annales
        </h2>
        <p class="text-gray-600 text-center text-sm md:text-base mb-6 leading-relaxed">
          Décris ton niveau, ton créneau (vacances ou semaine) et l’annale sur laquelle tu veux travailler : je te réponds pour qu’on débloque la situation ensemble.
        </p>
        <ContactForm />
      </div>
    </div>
  </section>

  <WhatsAppBrevetStickyButton phoneNumber={whatsappNumber} message={whatsappMessageBacAnnales} label="Aide rapide bac" />

  <Footer />

  <script>
    // Filter state
    let currentYearFilter = 'all';
    let currentThemeFilter = 'all';
    let currentSearchQuery = '';

    // Get all elements
    const yearButtons = document.querySelectorAll('.filter-year-btn');
    const themeButtons = document.querySelectorAll('.filter-theme-btn');
    const annaleCards = document.querySelectorAll('.annale-card');
    const resultsCount = document.getElementById('results-count');
    const emptyState = document.getElementById('empty-state');
    const contentGrid = document.getElementById('content-grid');
    const searchInput = document.getElementById('search-input');

    // Update button styles
    function updateButtonStyles() {
      yearButtons.forEach(btn => {
        const filterValue = btn.getAttribute('data-filter-year');
        if (filterValue === currentYearFilter) {
          btn.className = 'filter-year-btn px-5 py-2.5 rounded-lg text-sm font-medium transition-all duration-200 bg-gray-900 text-white shadow-sm hover:bg-gray-800';
        } else {
          btn.className = 'filter-year-btn px-5 py-2.5 rounded-lg text-sm font-medium transition-all duration-200 bg-white text-gray-700 border border-gray-200 hover:bg-gray-50 hover:border-gray-300';
        }
      });

      themeButtons.forEach(btn => {
        const filterValue = btn.getAttribute('data-filter-theme');
        if (filterValue === currentThemeFilter) {
          btn.className = 'filter-theme-btn px-5 py-2.5 rounded-lg text-sm font-medium transition-all duration-200 bg-gray-900 text-white shadow-sm hover:bg-gray-800';
        } else {
          btn.className = 'filter-theme-btn px-5 py-2.5 rounded-lg text-sm font-medium transition-all duration-200 bg-white text-gray-700 border border-gray-200 hover:bg-gray-50 hover:border-gray-300';
        }
      });
    }

    // Filter content
    function filterContent() {
      let visibleCount = 0;
      const searchQuery = currentSearchQuery.toLowerCase().trim();

      annaleCards.forEach(card => {
        const cardYear = card.getAttribute('data-year');
        const cardThemes = card.getAttribute('data-themes')?.toLowerCase() || '';
        const cardCentre = card.querySelector('h3')?.textContent?.toLowerCase() || '';
        const cardDate = card.querySelector('p')?.textContent?.toLowerCase() || '';
        
        const yearMatch = currentYearFilter === 'all' || cardYear === currentYearFilter;
        const themeMatch = currentThemeFilter === 'all' || cardThemes.includes(currentThemeFilter.toLowerCase());
        const searchMatch = searchQuery === '' || 
          cardCentre.includes(searchQuery) || 
          cardDate.includes(searchQuery) ||
          cardThemes.includes(searchQuery);
        
        if (yearMatch && themeMatch && searchMatch) {
          card.classList.remove('hidden');
          visibleCount++;
        } else {
          card.classList.add('hidden');
        }
      });

      // Update results count
      if (resultsCount) {
        resultsCount.textContent = visibleCount.toString();
        const countText = visibleCount > 1 ? 's' : '';
        const parent = resultsCount.parentElement;
        if (parent) {
          parent.innerHTML = `<span id="results-count" class="font-semibold text-gray-900">${visibleCount}</span> annale${countText} disponible${countText}`;
          // Re-attach reference
          const newResultsCount = document.getElementById('results-count');
          if (newResultsCount) {
            Object.assign(resultsCount, newResultsCount);
          }
        }
      }

      // Show/hide empty state
      if (emptyState && contentGrid) {
        if (visibleCount === 0) {
          emptyState.classList.remove('hidden');
          contentGrid.classList.add('hidden');
        } else {
          emptyState.classList.add('hidden');
          contentGrid.classList.remove('hidden');
        }
      }
    }

    // Year filter event listeners
    yearButtons.forEach(btn => {
      btn.addEventListener('click', () => {
        const filterValue = btn.getAttribute('data-filter-year');
        if (filterValue) {
          currentYearFilter = filterValue;
          updateButtonStyles();
          filterContent();
        }
      });
    });

    // Theme filter event listeners
    themeButtons.forEach(btn => {
      btn.addEventListener('click', () => {
        const filterValue = btn.getAttribute('data-filter-theme');
        if (filterValue) {
          currentThemeFilter = filterValue;
          updateButtonStyles();
          filterContent();
        }
      });
    });

    // Search input event listener
    if (searchInput) {
      searchInput.addEventListener('input', (e) => {
        currentSearchQuery = (e.target as HTMLInputElement).value;
        filterContent();
      });
    }

    // Initial filter
    filterContent();
  </script>

  <style>
    .annale-card {
      will-change: transform;
    }
    
    .annale-card:hover {
      border-color: #d1d5db;
    }

    /* Smooth scroll behavior */
    html {
      scroll-behavior: smooth;
    }

    /* Filter buttons active state enhancement */
    .filter-year-btn:active,
    .filter-theme-btn:active {
      transform: scale(0.98);
    }
  </style>
</Layout>
